<?xml version = "1.0" encoding="Windows-1252" standalone="yes"?>
<VFPData>
	<Upsizer>
		<ConnectionString>Driver=ODBC Driver 17 for SQL Server;Server=dhennig;Trusted_Connection=Yes;</ConnectionString>
		<SQLDatabaseName>UpsizerTest</SQLDatabaseName>
		<CreateDatabase>true</CreateDatabase>
		<DropExistingDatabase>true</DropExistingDatabase>
		<FreeTablesFolder>TestData</FreeTablesFolder>
		<CopySourceTables>true</CopySourceTables>
		<ConvertedDataFolder>ConvertedData</ConvertedDataFolder>
		<CustomSQLScriptsFolder>SQLScripts</CustomSQLScriptsFolder>
		<LogFolder>Logs</LogFolder>
		<TimestampLogFile>true</TimestampLogFile>
		<QuietMode>true</QuietMode>
		<DebugMode>false</DebugMode>
		<SQLBulkCopy>true</SQLBulkCopy>
		<ShowProgress>true</ShowProgress>
		<CreateReport>false</CreateReport>
		<UpsizeCharToVarchar>true</UpsizeCharToVarchar>
		<UpsizeDateToDate>true</UpsizeDateToDate>
		<UpsizeFieldsNullable>true</UpsizeFieldsNullable>
		<ClusteredIndexes>true</ClusteredIndexes>
		<CreateDefaults>true</CreateDefaults>
		<BlankDateValue>NULL</BlankDateValue>
		<DefaultDateValue>DATE()</DefaultDateValue>
	</Upsizer>
</VFPData>